<div class="bg-canvas-wrapper">
  <canvas #bgCanvas></canvas>
</div>
<div class="page-title-container"><h1 class="page-title">Ryan Lobban</h1><p class="page-subtitle">-portfolio-</p></div>
<div class="container" *ngIf="!accessGranted">
  <input
    type="password"
    [(ngModel)]="password"
    (keydown.enter)="checkPassword()"
    (ngModelChange)="onPasswordInput($event)"
    (focus)="onPasswordFocus()"
    [disabled]="loading"
    placeholder="Enter password"
    autofocus
    [ngClass]="{'flash-success': feedback === 'success', 'flash-error': feedback === 'error'}"
  >
</div>

<circle-menu *ngIf="showCircleMenu" (menuSelected)="onMenuSelected($event)" (menuDeselected)="onMenuDeselected()"></circle-menu>