:host {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 200;
}

.circle-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none; // Block only the parent
  transform:scale(1.0);
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.9s cubic-bezier(0.22, 1, 0.36, 1);

  &:hover{
    backdrop-filter: blur(2px);
  }

  h1.heading-quote {
    font-family: "Montserrat";
    text-align: center;
    position: absolute;
    font-size:0.7em;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    color: rgb(187, 187, 255);
    opacity: 1;
    z-index:9999;
    transition: all 0.6s ease;
  }
}

.circle-btn {
  will-change: backdrop-filter;
  position: absolute;
  font-family: "Montserrat";
  opacity: 0;
  width: 95px;
  border-radius: 120px;
  padding: 1.75em 0.1em;
  font-size: 1.2rem;
  border-top: 1px solid #e4f3ffaa;
  border-left: 1px solid #e4f3ffaa;
  border-right: 3px solid #e4f3ffaa;
  border-bottom: 3px solid #e4f3ffaa;
  background: linear-gradient(120deg, #ffffff66 0%, #ffffff66 30%, #ffffff 40%, #ffffff66 50%, #ffffff66 100%);
  //backdrop-filter: blur(0px);
  background-size: 400% 100%;
  background-position: 0 0;
  color: #2a32a7a8;
  letter-spacing: 2px;
  font-weight: 800;
  cursor: pointer;
  pointer-events: auto;
  transform: scale(0.8);
  transition: background-size 0.6s cubic-bezier(0.22, 1, 0.36, 1),
              background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1),
              transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
              backdrop-filter 0.9s cubic-bezier(0.22, 1, 0.36, 1),
              color 0.9s cubic-bezier(0.22, 1, 0.36, 1);

  &:hover,
  &.highlight {
    background-position: 65% 0;
    color: #2a32a7dd;
    //backdrop-filter: blur(2px);
    transform: scale(1.11);
    z-index: 3;
  }
}

.content-container {
  font-family: "Montserrat";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
}
.quote-container {
  font-family: "Montserrat";
  position: absolute;
  right:0;
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
}
.content-text-container {
  max-width: 500px;
}
.content-box {
    /* border-radius: 1.5rem; */
  background: #000;
  /* border-top: 1px solid rgba(170, 170, 255, 0.5333333333); */
  /* border-left: 1px solid rgba(170, 170, 255, 0.4666666667); */
  /* border-right: 3px solid rgb(71 79 156); */
  /* border-bottom: 3px solid rgba(170, 170, 255, 0.6666666667); */
  padding: 2.5em 2em 2em 2em;
  min-width: 240px;
  min-height: 200px;
  width:100%;
  /*max-width: min(50vw, 500px);*/
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: 50% 50%;
  transition: all 0.6s ease;
  -webkit-backdrop-filter: blur(1px);
  //backdrop-filter: blur(1px);
  justify-content: center;

  h2 {
    margin-bottom: 0.7em;
    color: #00ff00;
  }
  p {
    margin-bottom: 2em;
    color: #99ff99;
    font-size: 0.8em;
    font-weight:400;
    line-height: 1.4em;
    text-align: center;
    
  }
}

.quote-box {
  color: rgb(187 187 255);
  font-weight:900;
    /* border-radius: 1.5rem; */
  //background: #000;
  /* border-top: 1px solid rgba(170, 170, 255, 0.5333333333); */
  /* border-left: 1px solid rgba(170, 170, 255, 0.4666666667); */
  /* border-right: 3px solid rgb(71 79 156); */
  /* border-bottom: 3px solid rgba(170, 170, 255, 0.6666666667); */
  padding: 2.5em 2em 2em 2em;
  min-width: 240px;
  min-height: 200px;
  width:100%;
  /*max-width: min(50vw, 500px);*/
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: 50% 50%;
  transition: all 0.6s ease;
  -webkit-backdrop-filter: blur(1px);
  //backdrop-filter: blur(1px);
  justify-content: center;
  cursor: help;

  h2.quote-mini {
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 380px;
    padding-left:5px;
    padding-right:5px;
    color: rgb(187, 187, 255);
    opacity: 1;
    backdrop-filter: blur(1px);
    border-radius:5px;
    background: linear-gradient(90deg, #e2f3ff55, #ffffff55);
    transition: all 0.6s ease;
  }
  h2.quote {
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    color: rgb(187, 187, 255);
    opacity: 0;
    transition: all 0.6s ease;
  }
  &:hover {
    backdrop-filter: blur(4px);
  }
  &:hover h2.quote-mini {
    opacity: 0;
  }
  &:hover h2.quote {
    opacity: 1;
  }
  p {
    margin-bottom: 2em;
    color: #99ff99;
    font-size: 0.8em;
    font-weight:400;
    line-height: 1.4em;
    text-align: center;
    
  }
}

.close-btn {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, #ffffff 40%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 400% 100%;
    color: #99ff99;
    border-top: 1px solid #00ff00;
    border-left: 1px solid #00ff00;
    border-right: 3px solid #00ff00;
    border-bottom: 3px solid #00ff00;
    /* border-radius: 6px; */
    padding: 0.8em 2.2em;
    cursor: pointer;
    font-weight: 600;
    margin-top: 0.5em;
    transform: scale(0.8);
    transition: background-size 0.9s cubic-bezier(0.22, 1, 0.36, 1), background-position 0.9s cubic-bezier(0.22, 1, 0.36, 1), transform 0.9s cubic-bezier(0.22, 1, 0.36, 1), color 0.9s cubic-bezier(0.22, 1, 0.36, 1);
    text-transform: uppercase;

  &:hover {
    color: #bbffbb;
    background-position: 65% 0;
    transform: scale(1.0);
  }

  .return-path{
    stroke: #99ff99;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: translate(0, 4px);
    transition: color 0.9s cubic-bezier(0.22, 1, 0.36, 1);
  }
  &:hover .return-path{
    stroke: #bbffbb;
  }
}

@media (max-width: 768px) {
  .content-box {
    margin-bottom: 2em;
    //color: #0a13939e;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
  }
}
