/* You can add global styles to this file, and also import other style files */
body {
  //background: linear-gradient(90deg, #aebfff 0%, #7543c6 100%);
  //background: linear-gradient(90deg, #ffffff 0%, #e5efff 50%, #ffffff 100%);
  background: radial-gradient(circle, #cce9ff 0%, #ffffff 50%, #ffffff 100%);
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #999 #222; // thumb, track

  /* Webkit Browsers */
  &::-webkit-scrollbar {
    width: 10px;
    background: #222;
  }
  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

hr {
  background: #00ff00;
  color: #060d75a8;
  height: 1px;
  border: none;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/montserrat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

.crack-img {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 48%;
  top: 28%;
  z-index: 99999999;
}

.menu-content-link {
  color: #00ff00;
  transition: color 0.3s ease;

  &:hover {
    color: #bbffbb;
    text-decoration: none;
  }
  &:visited {
    color: #009900;
    text-decoration: none;
  }
  &:active {
    color: #22bb22;
    text-decoration: none;
  }
  &:focus {
    outline: 2px solid #00ff00;
    text-decoration: none;
  }
  &:-webkit-any-link {
    text-decoration: none;
  }
}


.ubuntu a {
  color:#0f0;
  transition: color 0.3s ease;
  &:hover {
    color:#9f9;
  }
}
.powershell a {
  color:#0ff;
  transition: color 0.3s ease;
  &:hover {
    color:#9ff;
  }
}
.gitbash a {
  color:#ff0;
  transition: color 0.3s ease;
  &:hover {
    color:#ff9;
  }
}
